@import '../styles/variables.scss';

.container {
    display: flex;
    gap: 20px;
    > div {
        &:first-of-type {
            margin-left: 0;
        }
    }
    @media only screen and (max-width: 626px) {
        flex-direction: column;
    }
}

.main {
    max-width: 551px;
    > div {
        margin: 20px 0;
        &:first-of-type {
            margin-top: 0;
        }
    }
    @media only screen and (max-width: 626px) {
        width: 100%;
        max-width: unset;
    }
}

.side-content {
    max-width: 247px;
    @media only screen and (max-width: 626px) {
        width: 100%;
        max-width: unset;
    }
}