@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@mixin rotation-mixin {
    animation: rotation 1s;
    animation-iteration-count: infinite;
}

@mixin for-phone-only {
  @media screen and (max-width: 620px),
          screen and (max-height: 500px)
  { @content; }
}