$font-color: #394d55;
$font-color-light: #6e7d8a;
$font-color-highlight: #377ab5;
$background-color: #f8f9f9;
$background-color-card-alt: #f8f9f9;
$background-color-highlight: #e7f3fa;
$border-color: #bcc2c5;

$white: #ffffff;