@import '../../styles/variables.scss';

.post {
    padding: 5px 10px 18px 0;
    display: flex;
    a {
        color: $font-color-highlight;
        padding-right: 6px;
    }
}

.content {
    :after {
        content: ' ';
    }
}

.profile-image {
    padding: 14px 11px 0 14px;
    > img {
        border-radius: 25px;
    }
}

.user {
    padding: 10px 0;
    font-weight: 600;
    a {
        text-decoration: none;
        color: $font-color;
    }
}

.hashtags {
    margin: 10px 10px 10px 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
